[submodule "zedboard/fpga-images-zedboard"]
	path = zedboard/fpga-images-zedboard
	url = https://github.com/ucb-bar/fpga-images-zedboard.git
[submodule "zc706/fpga-images-zc706"]
	path = zc706/fpga-images-zc706
	url = https://github.com/ucb-bar/fpga-images-zc706.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "boom-template"]
	path = boom-template
	url = https://github.com/riscv-boom/boom-template.git
