[submodule "zedboard/fpga-images-zedboard"]
	path = zedboard/fpga-images-zedboard
	url = https://github.com/ucb-bar/fpga-images-zedboard.git
[submodule "zc706/fpga-images-zc706"]
	path = zc706/fpga-images-zc706
	url = https://github.com/ucb-bar/fpga-images-zc706.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "boom-template"]
	path = boom-template
	url = https://github.com/riscv-boom/boom-template.git
[submodule "sw/buildroot"]
	path = sw/buildroot
	url = https://github.com/sifive/buildroot.git
[submodule "sw/linux"]
	path = sw/linux
	url = https://github.com/riscv/riscv-linux.git
[submodule "sw/riscv-pk"]
	path = sw/riscv-pk
	url = https://github.com/riscv/riscv-pk.git
